# Ignore these throughout the tree
.DS_Store
build/
private/
scratch*
foo*
bar*
*_.clj
Sevenri.app/

# Ignore these specific dirs and files
/.sevenri
/classes
/dsr
/lib
/pom.xml
/sid
/temp
doc/apidocs/J2SE/*
doc/apidocs/JavaEE/*
src/library/clojure/*
src/library/incanter/*
src/library/slix/incantea/data
src/library/slix/incantea/examples
src/library/user
src/project/*
src/sevenri/listeners/*.class
src/slix/ced/jvm/gui/dist/*
src/slix/sevenri/jvm/gui/dist/*

# But DONOT ignore these specific dirs and files
!src/project/protocol.clj
!src/project/slix/documenter/project.clj
!src/project/slix/documenter/src/slix/documenter/proj.cj
!src/project/slix/incantea/project.clj
!src/project/slix/incantea/src/slix/incantea/proj.cj
!src/project/slix/planter/project.clj
!src/project/slix/planter/src/slix/planter/proj.cj
!src/slix/ced/jvm/gui/dist/gui.jar
!src/slix/sevenri/jvm/gui/dist/gui.jar
