# Ignore these throughout the tree
.DS_Store
build/
private/
scratch*
foo*
bar*
*_.clj

# Ignore these specific dirs and files
/.sevenri
/classes
/dsr
/lib
/pom.xml
/sid
/temp
Sevenri.app/Icon*
doc/apidocs/J2SE/*
doc/apidocs/JavaEE/*
src/library/clojure/*
src/library/incanter/*
src/library/slix/incantea/data
src/library/slix/incantea/examples
src/library/user
src/sevenri/listeners/*.class
src/slix/ced/jvm/gui/dist/*
src/slix/sevenri/jvm/gui/dist/*

# But DONOT ignore these specific dirs and files
!src/slix/ced/jvm/gui/dist/gui.jar
!src/slix/sevenri/jvm/gui/dist/gui.jar
